service: webhookdemo
frameworkVersion: '2'

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: us-east-1
  iamRoleStatements:
    - Effect: 'Allow'
      Action:
        - 'events:PutEvents'
      Resource:
        - '*'
    - Effect: 'Allow'
      Action:
        - 'sqs:SendMessage'
      Resource:
        - '*'

  environment:
    backoffRate: 3
    backoffIntervalSeconds: 60
    backoffMaxRetries: 10
    retryQueue: ${self:custom.retryQueue}
    eventBus: ${self:custom.eventBus}
    providerBasePath: 'https://fszntdeqr9.execute-api.us-east-1.amazonaws.com/dev/provider/'


custom: 
  eventBus: webhookdemo
  retryQueue: { Ref: RetryCollectionQueue }

resources:
  Resources:
    RetryCollectionQueue:
      Type: "AWS::SQS::Queue"
      Properties:
        QueueName: "RetryCollectionQueue"

plugins:
  - serverless-pseudo-parameters
  - serverless-plugin-typescript

functions:

  getProvider:
    handler: src/handlers/api/getProvider.handler
    events: 
      - http:
          path: provider/{name}
          method: get
          request:
            parameters:
              paths:
                name: true

  requestCollection:
    handler: src/handlers/api/requestCollection.handler
    events:
      - http:
          path: collect
          method: POST
          request:
            schema:
              application/json: ${file(src/schemas/CollectionRequest.json)}

  
  onCollectionRequested:
    handler: src/handlers/events/onCollectionRequested.handler
    maximumRetryAttempts: 0
    events:
        - eventBridge:
            eventBus: ${self:custom.eventBus}
            pattern:
                detail-type:
                  - CollectionRequested
                source:
                  - webhook-api

  onCollectionFailed:
    handler: src/handlers/events/onCollectionFailed.handler
    maximumRetryAttempts: 0
    events:
        - sqs:
            batchSize: 1
            arn:
              Fn::GetAtt:
                - RetryCollectionQueue
                - Arn
   
  onCollectionSucceeded:
    handler: src/handlers/events/onCollectionSucceeded.handler
    maximumRetryAttempts: 0
    events:
        - eventBridge:
            eventBus: ${self:custom.eventBus}
            pattern:
                detail-type:
                  - CollectionSucceeded
                source:
                  - webhook-api